.desktop {
  width: 800px;
  height: 600px;
  background-image: url("desktop.jpg");
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  position: absolute;
  text-align: center;
  width: 80px; /* You can adjust this value based on the size of your icons */
}

.icon img {
  width: 80%;
  height: auto;
  filter: drop-shadow(0px 0px 3px white);
}

.icon p {
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft Sans Serif", Tahoma, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black,
    -1px 1px 2px black;
}

#computer {
  top: 20px;
  left: 20px;
}

#recycle_bin {
  bottom: 20px;
  right: 20px;
}

#documents {
  top: 130px;
  left: 20px;
}

#internet {
  top: 240px;
  left: 20px;
}